@import 'shared/styles/variables.scss';

.wrapper {
  > div {
    width: 100vw;
    height: 12.5vh;

    &:nth-child(1) {
      background-color: rgba($color-gray, .5);
    }
  
  
    &:nth-child(2) {
      background-color: rgba($color-gray, .55);
    }
  
  
    &:nth-child(3) {
      background-color: rgba($color-gray, .6);
    }

    &:nth-child(4) {
      background-color: rgba($color-gray, .65);
    }

    &:nth-child(5) {
      background-color: rgba($color-gray, .7);
    }

    &:nth-child(6) {
      background-color: rgba($color-gray, .75);
    }

    &:nth-child(7) {
      background-color: rgba($color-gray, .8);
    }

    &:nth-child(8) {
      background-color: rgba($color-gray, .85);
    }
  }
}