@import 'shared/styles/variables.scss';

.wrapper {
  position: relative;
  height: 100vh;
}

.header {
  position: sticky;
  width: 100vw;
  height: $header-height;
  z-index: 5;
  top: 0;
  background-color: var(--color-header);
}

.main {
  height: 100%;
  width: 100vw;
  position: fixed;
  top: 0;
}
