@import 'shared/styles/variables.scss';

.header {
  position: sticky;
  width: 100vw;
  height: $header-height;
  z-index: 5;
  top: 0;
  background-color: var(--color-header);
}

.main {
  height: calc(100% - $header-height);
  // margin-top: $header-height;
  width: 100vw;
}
