@import 'shared/styles/variables.scss';

.wrapper {
  margin: 0;
  height: $header-height;
  position: sticky;
}

.nav {
  opacity: 0;
  z-index: -1;
  background-color: var(--color-header);
  transition: opacity .2s linear;
}

.list {
  flex-direction: column;
}

.link {
  padding: 1.5rem 2rem;
  width: 100%;
}

.overlay { 
  position: absolute;
  top: $header-height;
  bottom: 0;
  z-index: -1;
  opacity: 0;
  height: 100vh;
  width: 100%;
  right: 0;
  left: 0;
  background-color: #00000098;
  transition: opacity .2s linear;
  pointer-events: none;
}

.toggleButton  {
  height: $header-height;
  align-items: center;
  justify-content: right;
  width: auto;
  margin-right: 1rem;
  margin-left: auto;
  min-height: 2rem;
  display: flex;
}

.isOpen {
  opacity: 1;
  z-index: 0;
  pointer-events: all;
}

@media (min-width: 500px) {
  .overlay {
    top: 0;
    height: auto;
    opacity: 1;
    pointer-events: all;
    z-index: 1;
  }

  .list {
    flex-direction: row;

    button {
      pointer-events: none;
    }
  }

  .link {
    width: auto;
    pointer-events: all;
  }

  .nav {
    z-index: 0;
    opacity: 1;
  }

  .toggleButton {
    display: none;
  }
}

@media (min-width: 1300px) {
  .nav {
    padding: 0 20%;
  }
}
