@import 'shared/styles/variables.scss';

.wrapper {
  margin: 0 auto;
  height: $header-height;
}

.nav {
  opacity: 0;
  z-index: -1;
  background-color: var(--color-header);
}

.list {
  flex-direction: column;
}

.link {
  padding: 1.5rem 2rem;
  width: 100%;
}

.isOpen {
  opacity: 1;
  z-index: 0;
}

@media (min-width: 500px) {
  .list {
    flex-direction: row;

    button {
      pointer-events: none;
    }
  }

  .link {
    width: auto;
    pointer-events: all;
  }

  .nav {
    z-index: 0;
    opacity: 1;
  }

  .toggleButton {
    display: none;
  }
}

@media (min-width: 1300px) {
  .wrapper {
    padding: 0 20%;
  }
}
