@import 'shared/styles/variables.scss';

$contacts-wrapper-height: calc(100vh - $header-height);

.main {
  height: auto;
  overflow: auto;
  scroll-behavior: smooth;
  height: $contacts-wrapper-height;
  -ms-overflow-style: none;
  scrollbar-width: none;
  
  &::-webkit-scrollbar {
    display: none;
  }
}

.cv {
  min-height: calc(100vh - $header-height);
  padding: 3rem;

  .col1 {
    flex: 0 0 100%;

    > article {
      margin-bottom: 3rem;
    }
  }
  .col2 {
    flex: 1 1 40%;
    display: flex;
    flex-direction: column;

    > article {
      margin-bottom: .5rem;
      padding: 1rem;
      box-shadow: 0 0 18px 0 #d4d6dc61;
    }
  }

  &Wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;

    h3,
    h4 {
      margin-bottom: .5rem;
    }
  }

  &Title {
    position: absolute; 
    left: -999rem;
    max-height: 0;
  }
}

.delimeter {
   background-color: var(--color-marker);
   padding: 1rem;
   margin: 2rem 0;

   h3 {
    color: var(--color-bg)
   }
}

.horizontalList {
  margin-right: .5rem;
}

.articleHeader  {
  margin-bottom: 1rem;
}

.jobTitle {
  display: inline-flex;
  align-items: baseline;
  width: 100%;
  justify-content: space-between;

  > i {
    color: var(--color-loader)
  }
}

.chips {
  display: inline-flex;
  flex-wrap: wrap;
  gap: .25rem;
}

.contacts {
  background-color: var(--color-bg);
  padding: 3rem;
  a {
    margin-top: .5rem;
  }
}

.contactsWrapper {
  position: relative;
  height: $contacts-wrapper-height;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-parallax-2);
  overflow: hidden;

  & >section {
    z-index: 1;
    margin-bottom: 10%;
  }

  &>.parallax {
    width: 100vw;
    background-color: var(--color-header);
    transform: skewX(20deg);
    display: block;
    transition: left 0.5s linear;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    height: $contacts-wrapper-height;
  }
  &>.parallax2 {
    width: 30vw;
    background-color: var(--color-parallax-1);
    transform: skewX(-50deg);
    display: block;
    position: absolute;
    top: 0;
    transition: left 0.5s linear;
    bottom: 0;
    left: -100%;
    height: $contacts-wrapper-height;
  }
  &>.parallax3 {
    width: 40vw;
    background-color: var(--color-parallax-2);
    transform: skewX(-50deg);
    display: block;
    position: absolute;
    top: 0;
    transition: transform 0.5s linear;
    bottom: 0;
    left: 20%;
    height: $contacts-wrapper-height;
  }
}

@media (min-width: 900px) {
  .cv .col1 {
    flex: 1 1 50%;
  }
}
@media (min-width: 1300px) {
  .main {
    padding: 0 20%;
  }

  .cv {
    padding: 3rem 0;
  }
}
