@import 'shared/styles/variables.scss';

$contacts-wrapper-height: calc(100vh - $header-height);

.main {
  height: auto;
  overflow: auto;
  scroll-behavior: smooth;
  height: $contacts-wrapper-height;

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  
  &::-webkit-scrollbar {
    display: none;
  }
}

.cv {
  min-height: calc(100vh - $header-height);
  padding: 3rem;
}

.contacts {
  background-color: var(--bg);
  padding: 3rem;
}

.contactsWrapper {
  position: relative;
  height: $contacts-wrapper-height;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-parallax-2);
  overflow: hidden;

  & >section {
    z-index: 1;
    margin-bottom: 10%;
  }

  &>.parallax {
    width: 100vw;
    background-color: var(--color-header);
    transform: skewX(20deg);
    display: block;
    transition: left 0.5s linear;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    height: $contacts-wrapper-height;
  }
  &>.parallax2 {
    width: 30vw;
    background-color: var(--color-parallax-1);
    transform: skewX(-50deg);
    display: block;
    position: absolute;
    top: 0;
    transition: left 0.5s linear;
    bottom: 0;
    left: -100%;
    height: $contacts-wrapper-height;
  }
  &>.parallax3 {
    width: 40vw;
    background-color: var(--color-parallax-2);
    transform: skewX(-50deg);
    display: block;
    position: absolute;
    top: 0;
    transition: transform 0.5s linear;
    bottom: 0;
    left: 20%;
    height: $contacts-wrapper-height;
  }
}

@media (min-width: 1200px) {
  .main {
    padding: 0 20%;
  }
}
