.ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.vertical {
  flex-direction: column;
}

li {
  line-height: 1rem;
  display: flex;
  align-items: baseline;
}

.decorated {
  display: flex;
  align-items: center;
  position: relative;
  min-width: .5rem;
  margin-right: .5rem;

  > span {
    background-color: var(--color-marker);
    border-radius: 50%;
    width: .5rem;
    height: .5rem;
    position: absolute;
    bottom: .125rem;
  }
}